---
import { Image } from 'astro:assets';
---

<div id="container" class="flex flex-col items-center justify-center gap-4 p-4 max-w-3xl mx-auto">
    <header class="flex md:flex-row flex-col items-center justify-center gap-4 p-4">
        <div id="avatar">
            <Image inferSize class="size-48 shadow-xl rounded-md" src="https://avatars.githubusercontent.com/u/32526223?v=4" alt="GitHub Avatar" />
        </div>
        <div id="hero">
            <h1 class="text-2xl font-bold">David Zambrano Agudo</h1>
            <p class="text-lg">Full Stack Developer</p>
            <div id="about">
                <h2 class="text-2xl font-bold">About me</h2>
                <p class="max-w-md">
                    I'm working like Middle Web developer, I have 5 years of experience with PHP and Laravel. In my job, I am using Spring, Angular and Laravel.              
                </p>
            </div>
            <div id="links" class="text-xl flex justify-center gap-4 p-4">
                <div id="link">
                    <a target="_blank" title="GitHub" href="https://github.com/davidzcode"><i title="GitHub Icon" class="ri-github-fill"></i></a>
                </div>
                <div id="link">
                    <a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/davidzcode/"><i title="LinkedIn Icon" class="ri-linkedin-fill"></i></a>
                </div>
                <div id="link">
                    <a target="_blank" title="DEV" href="https://dev.to/davidzcode"><i title="External Link Icon" class="ri-external-link-line"></i></a>
                </div>
                <div id="link">
                    <a title="Email" href="/contact/"><i title="Email" class="ri-mail-line"></i></a>
                </div>
            </div>
        </div>
    </header>

    <section class="w-full">
        <div class="felx flex-col items-start justify-start gap-4 p-4">
            <h2 class="text-2xl font-bold">Experience</h2>
            <div id="jobs" class="m-4">
                <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
                    <li class="mb-10 ms-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2021 - Present</time>
                        <h3 class="text-lg font-semibold">Full Stack Developer <span class="text-sm">@Ayesa</span></h3>
                        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                            Application development for the Extremadura Health Service (SES).
                            Web developer with Spring, Angular, and Laravel.
                        </p>
                        <div id="skills" class="flex flex-wrap gap-2">
                            <span class="cursor-pointer px-2 py-1 text-sm font-semibold text-gray-500 dark:text-gray-400 bg-gray-200 dark:bg-gray-700 rounded-md hover:bg-gray-500 hover:text-gray-200 dark:hover:bg-gray-500 dark:hover:text-gray-200">Spring</span>
                            <span class="cursor-pointer px-2 py-1 text-sm font-semibold text-gray-500 dark:text-gray-400 bg-gray-200 dark:bg-gray-700 rounded-md hover:bg-gray-500 hover:text-gray-200 dark:hover:bg-gray-500 dark:hover:text-gray-200">Angular</span>
                            <span class="cursor-pointer px-2 py-1 text-sm font-semibold text-gray-500 dark:text-gray-400 bg-gray-200 dark:bg-gray-700 rounded-md hover:bg-gray-500 hover:text-gray-200 dark:hover:bg-gray-500 dark:hover:text-gray-200">Laravel</span>
                        </div>
                        
                    </li>
                    <li class="mb-10 ms-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">04/2021 - 11/2021</time>
                        <h3 class="text-lg font-semibold">Full Stack Developer <span class="text-sm">@Grupo Preving</span></h3>
                        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                            Development of internal applications in the healthcare sector.
                            Web development with Angular and Spring Boot.
                        </p>
                        <div id="skills" class="flex flex-wrap gap-2">
                            <span class="cursor-pointer px-2 py-1 text-sm font-semibold text-gray-500 dark:text-gray-400 bg-gray-200 dark:bg-gray-700 rounded-md hover:bg-gray-500 hover:text-gray-200 dark:hover:bg-gray-500 dark:hover:text-gray-200">Angular</span>
                            <span class="cursor-pointer px-2 py-1 text-sm font-semibold text-gray-500 dark:text-gray-400 bg-gray-200 dark:bg-gray-700 rounded-md hover:bg-gray-500 hover:text-gray-200 dark:hover:bg-gray-500 dark:hover:text-gray-200">Spring Boot</span>
                        </div>

                    </li>
                    <li class="ms-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2018 - 2021</time>
                        <h3 class="text-lg font-semibold">Web Developer <span class="text-sm">@Destrategias</span></h3>
                        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                            Development of various applications based on client needs.
                            Application development with Laravel and October CMS.
                        </p>
                        <div id="skills" class="flex flex-wrap gap-2">
                            <span class="cursor-pointer px-2 py-1 text-sm font-semibold text-gray-500 dark:text-gray-400 bg-gray-200 dark:bg-gray-700 rounded-md hover:bg-gray-500 hover:text-gray-200 dark:hover:bg-gray-500 dark:hover:text-gray-200">Laravel</span>
                            <span class="cursor-pointer px-2 py-1 text-sm font-semibold text-gray-500 dark:text-gray-400 bg-gray-200 dark:bg-gray-700 rounded-md hover:bg-gray-500 hover:text-gray-200 dark:hover:bg-gray-500 dark:hover:text-gray-200">October CMS</span>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </section>

    <section class="w-full">
        <div class="flex flex-col items-start justify-start gap-4 p-4">
            <h2 class="text-2xl font-bold">Projects</h2>
            <div id="projects" class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="border border-gray-500 cursor-pointer rounded-lg p-4 hover:bg-gray-200 shadow-md transition duration-300 ease-in-out">
                    <h3 class="text-xl font-bold">Portfolio</h3>
                    <p class="max-w-md">
                        This page, where I show my work and experience. I have used Astro, Tailwind CSS, and Vite.
                    </p>
                    <div id="links" class="text-xl flex gap-4">
                        <a target="_blank" title="GitHub" href="https://github.com/davidzcode/portfolio"><i title="GitHub Icon" class="ri-github-fill"></i></a>
                    </div>
                </div>
    
                <div class="border border-gray-500 cursor-pointer rounded-lg p-4 hover:bg-gray-200 shadow-md transition duration-300 ease-in-out">
                    <h3 class="text-xl font-bold">Dice Roller App</h3>
                    <p class="max-w-md">
                        🎲 Small application with Kotlin where a die is rolled and gives you a random number between 1 and 6 
                    </p>
                    <div id="links" class="text-xl flex gap-4">
                        <a target="_blank" title="GitHub" href="https://github.com/davidzcode/ToDoApp_JS"><i title="GitHub Icon" class="ri-github-fill"></i></a>
                    </div>
                </div>
    
                <div class="border border-gray-500 cursor-pointer rounded-lg p-4 hover:bg-gray-200 shadow-md transition duration-300 ease-in-out">
                    <h3 class="text-xl font-bold">ToDoApp JS</h3>
                    <p class="max-w-md">
                        A To Do App with JavaScript Vanilla 
                    </p>
                    <div id="links" class="text-xl flex gap-4">
                        <a target="_blank" title="GitHub" href="https://github.com/davidzcode/ToDoApp_JS"><i title="GitHub Icon" class="ri-github-fill"></i></a>
                        <a target="_blank" title="External Link" href="https://davidzcode.github.io/ToDoApp_JS/"><i title="External Link Icon" class="ri-external-link-line"></i></a>
                    </div>
                </div>
    
                <div class="border border-gray-500 cursor-pointer rounded-lg p-4 hover:bg-gray-200 shadow-md transition duration-300 ease-in-out">
                    <h3 class="text-xl font-bold">UI Wallet App</h3>
                    <p class="max-w-md">
                        Wallet App UI made in Flutter 
                    </p>
                    <div id="links" class="text-xl flex gap-4">
                        <a target="_blank" title="GitHub" href="https://github.com/davidzcode/wallet_app"><i title="GitHub Icon" class="ri-github-fill"></i></a>
                    </div>
                </div>

                <div class="border border-gray-500 cursor-pointer rounded-lg p-4 hover:bg-gray-200 shadow-md transition duration-300 ease-in-out">
                    <h3 class="text-xl font-bold">Consumption Calculator</h3>
                    <p class="max-w-md">
                        Consumption calculator for your vehicle, with this app you can know how much you spend on fuel. It is built with Angular and MapBox.
                    </p>
                    <div id="links" class="text-xl flex gap-4">
                        <a target="_blank" title="External Link" href="https://calculadoraconsumo.com/"><i title="External Link Icon" class="ri-external-link-line"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>