---                               
import "../styles/global.css";
---      

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>David Z. Agudo - Portfolio</title>
		<meta name="description" content="David Z. Agudo - Portfolio" />
		<meta name="author" content="David Z. Agudo" />
		<meta name="keywords" content="David Z. Agudo, Portfolio, Developer, Web Developer, Software Developer" />
		<meta name="robots" content="index, follow" />

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://davidzcode.com/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="David Z. Agudo - Portfolio">
		<meta property="og:description" content="Portfolio">
		<meta property="og:image" content="https://davidzcode.com/favicon-32x32.png">
	
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary">
		<meta property="twitter:domain" content="davidzcode.com">
		<meta property="twitter:url" content="davidzcode.com/">
		<meta name="twitter:title" content="David Z. Agudo - Portfolio">
		<meta name="twitter:description" content="Portfolio">
		<meta name="twitter:image" content="https://davidzcode.com/favicon-32x32.png">

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

		<!-- CDN Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<!-- CDN Remix Icon -->
		<link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
